/* Artist DashBoard CSS */
.welcome_main {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  padding: 40px 0;
}

.wel_title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1;
  color: #000;
}

.wel_sub {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  color: #000;
}

.wel_banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 30px 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wel_banner ul {
  padding-left: 0;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wel_banner ul li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.1;
  color: #fff;
  display: flex;
  gap: 10px;
  width: fit-content;
}

.wel_board {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 30px 33px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

.wel_col {
  background-color: #fff;
  padding: 21px 15px;
  border-radius: 5px;
}

.wel_col h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  color: #000;
  margin-top: 10px;
  margin-bottom: 20px;
}

.wel_col p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  color: #000;
}

.wel_col ul {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wel_col ul li {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.1;
  color: #000000;
  display: flex;
  gap: 10px;
  width: fit-content;
}

.wel_col:last-child {
  grid-column: span 3;
}

.wel_col:last-child ul {
  list-style-type: square;
  list-style: inside;
}

.profile_edit_main {
  padding: 91px 0;
}

.profile_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile_box {
  background-color: #fff;
  padding: 35px 18px;
  border-radius: 6px;
  box-shadow: 0px 4px 21.2px 0px #00000040;
}

.profile_box h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  color: #000;
}

.profile_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: 44px;
}

.avt_pic {
  width: 104px;
  height: 102px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar_upload {
  display: flex;
  flex-direction: row;
  gap: 12px;
  max-width: 420px;
  align-items: end;
  justify-content: space-between;
}

.avatar_upload label p {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 10px;
}

.avatar_upload input[type="file"] {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}

.profile_img .upload_btn {
  width: fit-content;
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #2EB2FA 0%, #8078D1 57.55%, #3DAFED 113.18%);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.profile_box p {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  color: #000000;
}

.personal_detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.personal_detail .form_row label {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  color: #000000;
  margin-bottom: 10px;
}

.personal_detail .form_row input,
.personal_detail .form_row textarea,
.personal_detail .form_row select {
  display: block;
  width: 100%;
  padding: 6px 15px;
  border: 2px solid #D9D9D9;
  color: rgba(14, 14, 14, 0.5);
  border-radius: 5px;
  outline: none;
}

.personal_detail .form_row input:hover,
.personal_detail .form_row input:focus,
.personal_detail .form_row textarea:hover,
.personal_detail .form_row textarea:focus,
.personal_detail .form_row select:focus,
.personal_detail .form_row select:hover {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #42a2d6, #736bc3, #3990bf) border-box;
}

.personal_detail .form_row p {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.1;
  color: #000000;
  margin-top: 13px;
  margin-bottom: 0;
}

.form_row .checkbox_group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.form_row .checkbox_item {
  position: relative;
  padding-left: 30px;
  line-height: 1.4;
  color: #000;
  cursor: pointer;
}

.form_row .checkbox_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form_row .checkmark {
  position: absolute;
  left: 0;
  top: 3px;
  height: 16px;
  width: 16px;
  border: 2px solid #bdbdbd;
  border-radius: 3px;
  background-color: #fff;
}

/* Checked state */
.form_row .checkbox_item input:checked~.checkmark {
  /* background: linear-gradient(90deg, #2EB2FA 0%, #8078D1 57.55%, #3DAFED 113.18%); */

  border: 2px solid transparent;
  background: linear-gradient(90deg, #2EB2FA 0%, #8078D1 57.55%, #3DAFED 113.18%) padding-box, linear-gradient(90deg, #2EB2FA 0%, #8078D1 57.55%, #3DAFED 113.18%) border-box;
}

.form_row .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Check icon */
.form_row .checkbox_item input:checked~.checkmark::after {
  display: block;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form_row h6,
.personal_detail .form_row label.checkbox_item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: #000;
}

.profile_box .action-buttons {
  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-right: 0;
  gap: 15px;
}

@media (max-width: 768px) {
  .wel_banner {
    flex-direction: column;
    align-items: start;
    padding: 30px 20px;
  }

  .wel_title {
    font-size: 28px;
  }

  .wel_board {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 20px;
  }

  .wel_col:last-child {
    grid-column: span 1;
  }

  .profile_edit_main {
    padding: 91px 15px;
  }

  .profile_img,
  .avatar_upload,
  .personal_detail .action-buttons {
    flex-direction: column;
    align-items: start;
  }

  .profile_box h3 {
    font-size: 20px;
  }
}